.benefits__list{
    margin-bottom:0;
    display:flex-inline;
    justify-content: center;
    align-items:center;
     }

  @media screen and (min-width:768px){
.benefits__list{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
         }}
         @media screen and (min-width:1200px){
            .benefits__list{
                    flex-wrap:none;
                     }}

 .benefits{
          padding-top:60px;
     padding-bottom:60px;
 }
 @media screen and (min-width:1200px){
 .benefits{
    padding-top:94px;
padding-bottom:0;
}}
@media screen and (max-width:480px){
    .benefits__item{
       max-width:450px;
    }
}
@media screen and (min-width:768px){
    .benefits__item{
       max-width:354px;
       margin:0 auto;
    }
}
@media screen and (min-width:1200px){
 .benefits__item{
     width: 270px;
 }}

 .benefits__item:not(:last-child){
    margin-right:0;
    margin-bottom:30px;
    }
 @media screen and (min-width:768px) and (max-width:1199px){
    .benefits__item:nth-child(2n+1){
    margin-right:30px;
    margin-bottom:0;
}}
 
 @media screen and (min-width:1200px){
     .benefits__item:not(:last-child){
     margin-right:30px;
     margin-bottom:0;
 }}
  
 .benefits .title{
 margin-bottom:10px;
 font-weight:700;
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 }
 .benefits__description{
  margin-bottom:0;
 font-weight: 400;
 font-size: 14px;
 line-height: 1.7;
 letter-spacing: 0.03em;
 text-transform: none;
}

  
 .benefits__icon{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:30px;
    height:120px;
    background-color:var(--team-bg-color);
    border-radius: 4px;
    }
    @media screen and (max-width:320px){
        .benefits__icon{
            max-width:290px;
                }}
    @media screen and (max-width:480px){
        .benefits__icon{
            width:450px;
                }}
    @media screen and (min-width:768px){
        .benefits__icon{
            width:354px;
            .benefits__icon:nth-child(-n+2){
margin-bottom:30px;
            }
    }}
    @media screen and (min-width:1200px){
        .benefits__icon{
            width:270px;
    }}
 
 .benefits__icon-item{
     width:70px;
     height:70px;
   }