


.header{
& .contacts {
    display:flex;
    background-color: var(--site-nav-bg-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1,1;
    letter-spacing: 0.02em;
 margin-bottom: 0%;
    }
    
& .contacts__item:not(:last-child){
    margin-right:50px;
}
}
@media screen and (min-width:768px) and (max-width:1199px)
{
    .header{
        & .contacts {
          
        display:block;
       justify-content: flex-end;
        font-size: 12px;
        line-height: 1,16;
        margin-bottom: 0;
    padding:0;
      }
      .contacts__item:not(:last-child){
        margin-right:0;}
}
}
.contacts__item {
display:none;}
@media screen and (min-width:768px){
.contacts__item{
    display:flex;
   color:var(--primary-text-color);
    fill:var(--primary-text-color);
    
& .link{
color:var(--primary-text-color);
display:inline-flex;
align-items:center;
transition-property: color, fill;
transition-duration: var(--duration);
transition-timing-function: var(--time-function);
}
& .link:hover,
& .link:focus
{
    color:var(--accent-text-color);
    fill:var(--accent-text-color);
}
    }
}
@media screen and (min-width:768px) and (max-width:1199px){
    .contacts__item:first-child{
        margin-bottom:10px;
        margin-right: 0;
    }
}

.contacts__icon-envelope{
    width:16px;
    height:12px;
    margin-right:10px;
    margin-bottom:1px;
    }

.contacts__icon-smartphone{
    width:10px;
    height:16px;
    margin-right:10px;
    }
