.footer {
    background-color: var(--hero-footer-bg-color);
    color:var(--hero-text-color);
    

 & .contacts{
font-family: var(--main-font);
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
}
}


@media screen and (min-width:768px){
    .footer{
    display:flex;
    justify-content:center;
    align-items: center;
    }
}
@media screen and (min-width:1200px){
    .footer{
    max-height: 252px;
    overflow: hidden;
    }
}

.footer-container{
    
    padding-top:60px;
    padding-bottom:60px;
    padding-left:0;
    padding-right:15px;
    padding-left:15px;
    text-align: center;
    
  & .footer__logo{
    margin-bottom:20px;
    margin-right:0;
  }
}
@media screen and (min-width:768px){
    .footer-container{
        display:inline-flex;
    align-items: baseline;
  justify-content:space-around;
  text-align:center;
  flex-wrap:wrap;
  }
}
@media screen and (min-width:1200px){
    .footer-container{
        display:inline-flex;
    align-items: baseline;
  justify-content:flex-start;
  text-align:left;
  flex-wrap:none;
  max-height: 252px;
  overflow: hidden;
  }
}

.footer__item:not(:last-child){
    margin-bottom:9px;
}

.footer .logo__second-part_white {
    color:var(--hero-text-color);
    }
 
.footer .link{
    color:var(--hero-text-color);
    transition-property: color;
    transition-duration: var(--duration);
    transition-timing-function: var(--time-function);
   &:hover,
    &:focus {
    color:var(--accent-text-color)
    }
    }
.footer .footer__email .link, .footer .footer__phone .link {
    color: rgba(255, 255, 255, 0.6);
}

.footer__icon-header{
    font-family:var(--main-font);
    text-transform: uppercase;
 margin-bottom:20px;
 font-weight: bold;
 font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
}
.footer__icon-part{
    margin-bottom:60px;
}

@media screen and (min-width:768px){
    .footer__icon-part{
        margin-bottom:0;
        margin-right:89px;
    }
}
@media screen and (min-width:1200px){
    .footer__icon-part{
        margin-bottom:0;
        margin-right:93px;
    }
}
