.header-container{
    display:flex;
    align-items:center;
    justify-content: space-between;
    border-bottom: 1px solid #ECECEC;
}


.site-nav{
    display:flex;
    align-items:center;
    background-color: var(--site-nav-bg-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1,1;
    letter-spacing: 0.02em;
    overflow-y: hidden;
   & .logo__second-part_black {
    color:#000000;
    }
}
@media screen and (min-width:480px) and (max-width:767px){
    .site-nav{
        padding:16px 0;

    }
}

@media screen and (max-width:767px){
    .site-nav__list{
        display:none;
    }
}
@media screen and (min-width:768px){
    .site-nav__list{
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom:0;

   &::before{
            display:block;
            content:"";
            width:60px;
            height: 1px;
        }
}}
       
.current::after{
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 100%;
    background-color: var(--accent-text-color);
    border-radius: 2px;
    transform:translateY(1px);
    margin-bottom: 0;
    }

.site-nav__item:not(:last-child){
    margin-right: 50px;
        }

.logo{
margin-right: 93px;
display:block;
text-decoration: none;
color:var(--accent-text-color);
font-family: var(--logo-font);
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
}
@media screen and (min-width:480px) and (max-width:767px){
.logo{
    margin-right:284px;
    font-size: 24px;
line-height: 1.16;
}
}
@media screen and (min-width:768px){
    .logo{
        margin-right:41px;
       font-weight: 400;
font-size: 24px;
line-height:1.16;

    }}
.site-nav__link{
    position:relative;
    display:block;
    color:var(--title-text-color);
    padding-top:32px;
    padding-bottom:32px;
    transition-property: color;
    transition-duration: var(--duration);
    transition-timing-function: var(--time-function);
    
&:hover,
&:focus
{
color:var(--accent-text-color);
}
& .current {
    color:var(--accent-text-color);}

}


.header__mobile-menu-button{
        background-color: transparent;
        border:none;
        padding:0;
        line-height: 0;
        cursor: pointer;
}
.header__mobile-menu-icon{
    width:24px;
    height:16px;
    fill: #212121;

    &.mobile-menu-icon:hover{
    fill:var(--accent-text-color);
}
}