.hero{
    
    max-width:1600px;
   max-height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color:var(--hero-footer-bg-color);
 }
@media screen and (min-width: 1200px) {
        .hero{
            background-image: linear-gradient(
                to right,rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
              url(/images/hero_background/hero-background.jpg);
          }
        }

        @media screen and (min-width: 1200px),
        (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            .hero{
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(/images/hero_background/hero-background@2x.jpg);
      }}
 @media screen and (max-width: 767px) {
     .hero{
    background-image: linear-gradient(
        to right,rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url(/images/hero_background/hero-mobile.jpg);
  }
 }
  @media screen and (max-width: 767px),
    (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .hero{
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(/images/hero_background/hero-mobile@2x.jpg);
  }}
  @media screen and (min-width: 768px) {
    .hero{
   background-image: linear-gradient(
       to right,rgba(47, 48, 58, 0.4),
       rgba(47, 48, 58, 0.4)),
     url(/images/hero_background/hero-tablet.jpg);
 }
}
 @media screen and (min-width: 768px),
   (min-device-pixel-ratio: 2),
   screen and (-webkit-min-device-pixel-ratio: 2),
   screen and (min-resolution: 192dpi),
   screen and (min-resolution: 2dppx) {
       .hero{
   background-image: linear-gradient(
       to right,
       rgba(47, 48, 58, 0.4),
       rgba(47, 48, 58, 0.4)
     ),
     url(/images/hero_background/hero-tablet@2x.jpg);
 }}
 .hero-section{
     padding-top: 200px;
     padding-bottom:200px;
    margin-left:auto;
    margin-right: auto;
 }
 .hero__header{
     max-width: 696px;
     margin:0 auto;
     margin-bottom:30px;
     font-family: Roboto;
     font-style: normal;
     font-weight: 900;
     font-size: 44px;
     line-height: 1.4;
     text-align: center;
     letter-spacing: 0.06em;
     text-transform: uppercase;
     color:var(--hero-text-color);
    text-align:center;
 }
 .hero__button {
    min-width: 200px;
    padding: 10px 32px;
    margin:0 auto;
    font-family: var(--main-font);
    color:var(--hero-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color:var(--accent-text-color);
    cursor:pointer;
    border-radius:4px;
    border:none;
    transition-property: background-color;
    transition-duration: var(--duration);
    transition-timing-function: var(--time-function);
    
&:hover,
&:focus  {
    background-color:#188CE8;
}
}
