.footer__contacts-part{
    justify-content:baseline;
    margin-right:0;
    margin-bottom:60px;
}
@media screen and (min-width:768px){
    .footer__contacts-part{
       margin-right:165px; 
       margin-left:76px;
    }
}
@media screen and (min-width:1200px){
    .footer__contacts-part{
        justify-content:start;
       margin-right:70px; 
       margin-left:0;
    }
}
.footer__contact-signing{
display:block;
 margin:0 auto;
}

@media screen and (max-width:1199px){
    .footer__contact-signing{
        max-width:450px;
        }}



@media screen and (min-width:1200px){
    .footer__contact-signing{
        margin-left:0;
       min-width:570px;
}}


.contact-signing__header{
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
font-weight: 700;
margin-bottom:20px;
}
@media screen and (max-width:1199px){
    .contact-signing__form{
        display:block;
        justify-content: center;
        align-items: center;

        }
    }
@media screen and (min-width:1200px){
.contact-signing__form{
    display:flex;
      align-items:baseline;
      
    }
}
.contact-signing__form-input{
   
    height:50px;
margin-right:0;
margin-bottom:20px;
padding:16px;
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
background:  var(--hero-footer-bg-color);
color:var(--hero-text-color);
outline:var(--title-text-color);
max-width: 358px;
    width: 100%;
}
@media screen and (min-width:768px){
    .contact-signing__form-input{
       min-width:450px;
    }
}
@media screen and (min-width:1200px){
    .contact-signing__form-input{
        
        margin-right:12px;
        min-width:358px;
    }
}
.contact-signing__form-button{
    position:relative;
    padding:0;
   min-width:200px;
   padding:10px 62px 10px 29px;
    background-color: var(--accent-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: 1px solid #2196F3;
color:var(--hero-text-color);
font-family: Roboto;
font-weight: 700;
font-size: 16px;
line-height: 1.8;
letter-spacing: 0.06em;
cursor: pointer;
border-inline:0;
margin-right: 0;
}
@media screen and (min-width:1200px){
.contact-signing__form-button{
    display:flex;
}}
.icon-send{
    position:absolute;
    top:13px;
    right:29px;
    width:24px;
    height:24px;
    margin-left:10px;
    fill:var(--hero-text-color);

     }