@media screen and (max-width:320px){
    .mobile-menu{
        max-width:320px;
        opacity: 0;
visibility: hidden;
pointer-events: none;
        }
}

@media screen and (max-width:767px){
.mobile-menu{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background-color: #ffffff;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
overflow-y: scroll;
opacity: 0;
visibility: hidden;
pointer-events: none;
display:block;
align-content: flex-end;

}}
@media screen and (min-width:768px){
    .mobile-menu{
        display:none;
        
    }
}
@media screen and (min-width:768px){
    .header__mobile-menu-button{
        display:none;
    }}
@media screen and (max-width:320px){
.mobile-menu__contacts-list{
    max-width:310px;
}}

.mobile-menu__container{
    position:fixed;
    padding:48px 40px;
    width:100%;
height:100%;

}

.mobile-menu__close-button{
background-color: transparent;
border: none;
padding:0;
position:absolute;
width:18px;
height:18px;
top:21px;
right:26px;
cursor: pointer;
}

.mobile-menu__close-icon{
    width:18px;
    height:18px;
    fill:var(--title-text-color);
    border-radius: 50%;
    margin:0 auto;
    transition-property:fill;
    transition-duration: var(--duration);
    transition-timing-function: var(--time-function);
}
.mobile-menu__close-icon:focus,
.mobile-menu__close-icon:hover
{
    fill: #2196F3;
}

.mobile-menu__link{
    font-family: Roboto;
font-weight: 500;
font-size: 40px;
line-height: 1.18;
letter-spacing: 0.02em;
color: #212121;
}
@media screen and (max-width:279px){
    .mobile-menu__link{
    font-weight: 500;
font-size: 20px;
line-height: 1.18;
}}
.mobile-menu__link:hover,.mobile-menu__link:focus{
    color: #2196F3;
}
.mobile-menu__item:not(:last-child){
    margin-bottom:32px;
}
.mobile-menu__item:last-child{
    margin-bottom:130px;
}
.mobile-menu__list{
   margin-bottom:auto;
   }
   .mobile-menu__list .current{
       color:#2196F3
   }
.mobile-menu__contacts-link{
    font-family: Roboto;
font-weight: 500;
font-size: 34px;
line-height: 1.18;
letter-spacing: 0.02em;
 color: #757575;
}
.mobile-menu__contacts-link:hover,
.mobile-menu__contacts-link:focus{
    color: #2196F3;
}
.mobile-menu__contacts-link-email{
font-size: 24px;
line-height: 28px;
letter-spacing: 0.02em;
}


.mobile-menu__contacts-item:not(:last-child){
    margin-bottom:32px;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 1;
  }

  .mobile-menu.is-open .current::after{
      display:none;
  }
  .mobile-menu__social-nets-list{
      display: flex;
     align-items: flex-end;
         margin-bottom: 0;
     margin-top:64px;
     flex-wrap: wrap;
   
  } 
 
  .mobile-menu__social-nets-link{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196F3;
     }

  .mobile-menu__social-nets-item:not(:first-child){
      padding: 0 10px;
      border-left: 1px solid rgba(33, 33, 33, 0.2);

  }
  .mobile-menu__social-nets-item:first-child{
    padding-right:10px;}
// .mobile-menu__contacts-wrapper{
//     margin:0 auto;
//     display:block;
// align-content: space-between;
// }
