@media screen and (max-width:320px){
    .mobile-menu{
        max-width:320px;
        }
}

@media screen and (max-width:767px){
.mobile-menu{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background-color: #ffffff;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
overflow-y: scroll;
opacity: 0;
visibility: hidden;
pointer-events: none;
z-index: 1;
}}
@media screen and (min-width:768px){
    .mobile-menu{
        display:none;
        
    }
}
@media screen and (min-width:768px){
    .header__mobile-menu-button{
        display:none;
    }}
@media screen and (max-width:320px){
.mobile-menu__contacts-list{
    max-width:310px;
}}

.mobile-menu__container{
    position:fixed;
    padding:48px 40px;
    width:100%;
height:796px;
}

.mobile-menu__close-button{
background-color: transparent;
border: none;
padding:0;
position:absolute;
width:18px;
height:18px;
top:21px;
right:26px;

}
.mobile-menu__close-icon{
    width:18px;
    height:18px;
    fill:var(--title-text-color);
    border-radius: 50%;
    margin:0 auto;
    transition-property:fill;
    transition-duration: var(--duration);
    transition-timing-function: var(--time-function);
}
.mobile-menu__close-icon:hover{
    color: #2196F3;
}

.mobile-menu__link{
    font-family: Roboto;
font-weight: 500;
font-size: 40px;
line-height: 1.18;
letter-spacing: 0.02em;
color: #212121;
}
@media screen and (max-width:320px){
    .mobile-menu__link{
    font-weight: 500;
font-size: 20px;
line-height: 1.18;
}}
.mobile-menu__link:hover,.mobile-menu__link:focus{
    color: #2196F3;
}
.mobile-menu__item:not(:last-child){
    margin-bottom:32px;
}
.mobile-menu__list{
   margin-bottom: 200px;
   }

.mobile-menu__contacts-link{
    font-family: Roboto;
font-weight: 500;
font-size: 34px;
line-height: 1.18;
letter-spacing: 0.02em;

@media screen and (max-width:320px){
    .mobile-menu__contacts-link{
       font-weight: 200;
    font-size: 14px;
}
}

.mobile-menu__contacts-list{
    margin: 0 auto;
    
}
}
.mobile-menu__contacts-link-phone{
      color: #2196F3;
      font-weight: 200;
      font-size: 17px;
}
.mobile-menu__contacts-link-email{
    color: #757575;
    font-weight: 200;
    font-size: 17px;
}
.mobile-menu__contacts-item:not(:last-child){
    margin-bottom:32px;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 1;
  }
  .mobile-menu__social-nets-list{
      display: flex;
     align-items: flex-end;
     margin-bottom: 0;
     margin-top:64px;
  } 
 
  .mobile-menu__social-nets-link{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196F3;
   
  }
  @media screen and (max-width:320px){
    .mobile-menu__social-nets-link{
        font-weight: 500;
    font-size: 8px;
    }
  }
  .mobile-menu__social-nets-item:not(:first-child){
      padding: 0 10px;
      border-left: 1px solid rgba(33, 33, 33, 0.2);

  }
  .mobile-menu__social-nets-item:first-child{
    padding-right:10px;}
