.modal{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:528px;
    min-height: 581px;
    background-color: var(--site-nav-bg-color);
    padding:40px 39px 40px 41px;
    margin-bottom:0;
   
}
.is-hidden{
    opacity:0;
    visibility: hidden;
    pointer-events: none;
    
}
.modal__close-icon{
width:11px;
height:11px;
fill:var(--title-text-color);
border-radius: 50%;
margin:0 auto;
transition-property:fill;
transition-duration: var(--duration);
transition-timing-function: var(--time-function);

&:hover{
    fill:var(--accent-text-color);
}
}

.modal__close-button{
position:absolute;
top:8px;
right:8px;
width: 30px;
height: 30px;
padding: 0;
border-radius: 50%;
border: 1px solid rgba(0, 0, 0, 0.1);
cursor: pointer;
background-color:var(--hero-text-color);
}