.modal__modal-form{
    display:flex;
   flex-direction: column;
   
}
.modal__form-head{
font-family: Roboto;
font-weight: 700;
font-size: 20px;
line-height:1.15;
text-align: center;
letter-spacing: 0.03em;
color:var(--title-text-color);
}
.modal__form-input{
width:100%;
height:40px;
padding:0 0 0 42px;
margin-top:4px;
border-radius: 4px;
border: 1px solid rgba(33, 33, 33, 0.2);
transition-property:border-color;
transition-duration: var(--duration);
transition-timing-function: var(--time-function);

&:focus{
border-color: var(--accent-text-color);
outline:none;}

}
.modal__input-icon-wrapper{
     position:relative;
     display:block;}
.modal__icon{
    position:absolute;
    top:50%;
    left:12px;
    transform:translateY(-50%);
    width:18px;
    height:18px;
    transition-property:fill;
transition-duration: var(--duration);
transition-timing-function: var(--time-function);

.modal__form-input:focus +&{
fill:var(--accent-text-color);
}
}

.modal__form-field{
top:10px;
left:10px;
font-family: Roboto;
font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
color:var(--primary-text-color);
margin-bottom:10px;
}
.modal__form-meassage-label{
    margin-bottom:20px;
   }
.modal__form-button{
    min-width:200px;
    height:50px;
}
.modal__form-message{
    width:100%;
    height:120px;
    margin-top:4px;
    padding:12px 16px;
    resize:none;
    border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
transition-property:border-color;
transition-duration: var(--duration);
transition-timing-function: var(--time-function);

&::placeholder{
    color: rgba(117, 117, 117, 0.5);
}
&:focus{
    border-color:var(--accent-text-color);
    outline:none;
}
}

.modal__form-field-policy {
margin: 0 auto;
vertical-align: middle;  
}

.modal__form-label-policy {
  font-size: 14px;
  line-height: 1.71; 
 }


.modal__form-icon-policy {
 margin-right: 7px;
  width: 16px;
  height: 15px;
 border: 2px solid black;
  box-sizing: border-box;
  border-radius: 2px;
  fill: transparent;
  transition-property: background-color, fill, border, outline;
 transition-duration: var(--duration);
 transition-timing-function: var(--time-function);
 background-size:contain;
 
 .modal__checkbox:checked + & {
background-color: var(--accent-text-color);
background-image: url("../images/icons/icon-check.jpg");
background-size: contain;
outline: var(--accent-text-color);
border:2px solid  var(--accent-text-color);
}

 .modal__checkbox:focus + &{
  background-size: contain;
 }

  .modal__checkbox:checked:focus + &{
    outline: none;
     background-size: contain;
    border: none;    }
}

.modal__policy-icon {
  width:16px;
  height:15px;
  outline:none;
   }

.modal__label-policy {
  cursor: pointer;
  display: flex;
  align-items: center;
 }



.modal__policy-link {
  color: var(--accent-text-color);  
  transition-property: color, border;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function); 
  
&:hover,
&:focus {
  color:var(--back-up-accent-color);
  border: 1px solid var(--accent-color);
  outline: none;
}
}
 

.modal__form-button{
padding:0;
margin:0 auto;
margin-top:30px;
color:var(--hero-text-color);
background: var(--accent-text-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border:none;
cursor:pointer;
font-family: Roboto;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
width:200px;
height:50px;
transition-property: background-color #188CE8;
transition-duration: var(--duration);
transition-timing-function: var(--time-function);

&:hover,
&:focus{
    background: var(--back-up-accent-color);
 }
}
